
<div class="standardize" align="center">
<h2 class="font_title">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :image %>
  <%= f.input :username %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>


  <%= f.button :submit, "Sign up" %>

  <% end %>

  <%= render "devise/shared/links" %>
</div>
