        <% if user_signed_in? %>
        
        <h1 class="font_title" align="center">Stream Board</h1>
        <div class="stream_board" align="center">

          <table class="font_all" align="center">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @posts.reverse.each do |post| %>
              <%= link_to post do %>
              <tr>

                <td><div class="avatar_image"><%= image_tag post.user.image.url(:thumb) %></div></td>
                <td><div class="username_index font_all">[<%= post.user.username %>]</div></td>

                <td>"<%= post.subject %>"</td>

                <td>posted <%= time_ago_in_words(post.created_at||Time.now) %> ago.</td>

                <% if current_user && post.user.id == current_user.id %>

                <td><%= link_to 'Show', post %></td>

                <td><%= link_to 'Edit', edit_post_path(post) %></td>

                <% else %>

                <td><%= link_to 'Show', post %></td>

                <% end %>

              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table>

        </div>

        <br>
        <!-- </div> -->
        <% else %>
        <%= render 'home/index' %>
        <% end %>

