        <% if user_signed_in? %>
        
        <h1 class="font_title" align="center">Stream Board</h1>





        <% @posts.reverse.each do |post| %>
        <%= link_to post do %>

        <div class="stream_board">
          <div class="avatar_image font_all"><%= image_tag post.user.image.url(:thumb) %>
           <strong>"<%= post.subject %>"~</strong>
           posted <%= time_ago_in_words(post.created_at||Time.now) %> ago.
         </div>
         <div class="username_index font_all"><%= post.user.username %></div>

         <% if current_user && post.user.id == current_user.id %>



         <%= link_to 'Edit', edit_post_path(post) %>
       </div>
       <% else %>


       <% end %>
     </div>

     <% end %>
     <% end %>





     <br>
     <!-- </div> -->
     <% else %>
     <%= render 'home/index' %>
     <% end %>

