<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @post.subject %>
</p>

<div class="comment_form">
	<%= simple_form_for [@post, @post.comments.new] do |f| %>

	<iframe
	src="http://player.twitch.tv/?channel=dallas&muted=true"
	height="800"
	width="1280"
	frameborder="0"
	scrolling="no"
	allowfullscreen="true">
</iframe>


<!-- This is the added javscript for the Twitch API -->
<!--=================================================== -->
  <script type="text/javascript">
    var options = {
      width: 854,
      height: 480,
      channel: "imaqtpie"
    };
    var player = new Twitch.Player("twitchPlayer", options);
    player.setVolume(0.5);

</script>

<!-- ================================================ -->
<!-- Back to HTML -->
<%= f.input :content, :label => "Comment:", placeholder: 'Add a comment' %>
<%= f.input :image %>
<%= f.button :submit %>
<% end %>
</div>

<!-- Showing all comments =-=-=-=-=-=-=-=-=-=-=-=-=	 -->
<div class="comment_view">
	<% @post.comments.reverse.each do |f| %>
	<div id="commentEach">
		<div id="commentContent">
			<%= f.content %>
		</div>
		posted <%= time_ago_in_words(f.created_at||Time.now) %> ago.
	</div>
	<% end %>
	<% if @post.user.id == current_user.id %>

	
	<%= link_to 'Back', posts_path %>
	<%= link_to 'Delete', posts_path %>
	<% else %>
	<%= link_to 'Back', posts_path %>


	<% end %>