<!DOCTYPE html>
<html>
<head>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<title>Turbulence</title>
		<link href="https://fonts.googleapis.com/css?family=Averia+Gruesa+Libre|Montserrat+Subrayada" rel="stylesheet">
		<%= stylesheet_link_tag "application", media: "all" %>
		<script src= "http://player.twitch.tv/js/embed/v1.js"></script>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'logo.png' %>
		<%= javascript_include_tag '//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.8/twilio-ip-messaging.min.js' %> 
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!-- Layout push navbar -->
		<div class="font_all">
			<%= render 'layouts/navbar' %>
			<%= video_tag "bgvideo.mp4", :id => "main-video-background", :autoplay => true, :loop => true, :muted => true %>
			<%= video_tag "rainy.mp4", :class => "home-video-background", :autoplay => true, :loop => true, :muted => true %>
			<!-- Section for loading animation JS -->
			<div id="loader-wrapper">
				<div id="loader"></div>
				<div class="loader-section section-left"></div>
				<div class="loader-section section-right"></div>
			</div>

			<!-- Page introduction -->
			<div id="container u-full-width">
				<%= yield %>
			</div>
		</div>
	</body>	
	</html>	
